[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  pager = less
[user]
  name = William Clemens
  email = wesclemens@gmail.com
[advice]
  statusHints = false
[branch]
  autosetupmerge = true
[color]
  ui     = auto
[alias]
  st     = status
  co     = checkout
  br     = branch
  rb     = rebase
  rt     = remote
  ru     = remote update
  rs     = remote show
  sm     = submodule
  smu    = submodule update
  log-sign = log --show-signature
  switch = !legit switch \"$@\"
  branches = !legit branches
  sprout = !legit sprout \"$@\"
  unpublish = !legit unpublish \"$@\"
  harvest = !legit harvest \"$@\"
  sync = !legit sync \"$@\"
  publish = !legit publish \"$@\"
  graft = !legit graft \"$@\"
[format]
  pretty = fuller
[gc]
  auto   = 1
[rerere]
  enabled = 1
[merge]
  tool   = vimdiff
  stat = true
[diff]
  mnemonicprefix = true
[log]
  decorate = full
[init]
  templatedir = ~/.git_template
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[push]
	default = simple
